<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yang.sheng.test.mapper.TestMapper">
    <resultMap id="result" type="yang.sheng.test.bean.TestBean">
        <result column="ID" jdbcType="BIGINT" property="id"/>
        <result column="TESTNAME" jdbcType="VARCHAR" property="testName"/>
        <result column="CONTENT" jdbcType="VARCHAR" property="content"/>
    </resultMap>

    <sql id="column">
        ID, TESTNAME, CONTENT
    </sql>

    <insert id="insert" parameterType="yang.sheng.test.bean.TestBean">
        INSERT INTO PRIVATE_TEST(
        <include refid="column"></include>
        )
        VALUES(#{id}, #{testName}, #{content})
    </insert>

    <select id="selectAll" resultMap="result">
        SELECT
        <include refid="column"></include>
        FROM PRIVATE_TEST
        ORDER BY ID
    </select>

    <select id="select" parameterType="yang.sheng.test.bean.TestBean" resultMap="result">
        SELECT
        <include refid="column"></include>
        FROM PRIVATE_TEST
        <where>
            <if test="testName != null and testName != ''">
                AND TESTNAME LIKE CONCAT('%', #{testName}, '%')
            </if>
            <if test="content != null and content != ''">
                AND CONTENT LIKE CONCAT('%', #{content}, '%')
            </if>
        </where>
        ORDER BY ID
    </select>

    <select id="selectMaxId" resultType="java.lang.Long">
        SELECT decode(nvl(MAX(ID),0),0,1,MAX(ID)+1) saveId
        FROM PRIVATE_TEST
    </select>

    <update id="updateById" parameterType="yang.sheng.test.bean.TestBean">
        UPDATE PRIVATE_TEST
        <set>
            <if test="testName != null and testName != ''">
                TESTNAME = #{testName},
            </if>
            <if test="content != null and content != ''">
                CONTENT = #{content},
            </if>
        </set>
        WHERE ID = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM PRIVATE_TEST
        WHERE ID = #{id}
    </delete>
</mapper>